name: Build & Test Go

on:
  push:
    branches: [ "main" ]
    paths:
      - 'go/**'
      - '.github/**'

jobs:
  build-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ github.workspace }}/go

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'
        cache: false

    - name: Install Dependencies
      run: go mod tidy

    - name: Build
      run: go build -v ./...

    - name: Run Tests
      run: go test -v ./...