name: Build, Analyze, Test Go

on:
  push:
    branches: [ "main" ]
    paths:
      - 'go/**'
      - '.github/workflows/go.yml'

env:
  GO_VERSION: "1.25"

jobs:

  build-analyze:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    defaults:
      run:
        working-directory: ${{ github.workspace }}/go

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false

      - name: Install Dependencies
        run: go mod tidy

      - name: Build
        run: go build -v ./...

      - name: Qodana Scan
        uses: jetbrains/qodana-action@v2024.3
        with:
          pr-mode: false
          use-caches: true
          post-pr-comment: true
          use-annotations: true
          upload-result: false
          push-fixes: 'none'
          linter: "qodana-go:2025.2"
          env:
            QODANA_TOKEN: ${{ secrets.QODANA_GO_TOKEN }}

  test:
    runs-on: ubuntu-latest
    needs: build-analyze
    defaults:
      run:
        working-directory: ${{ github.workspace }}/go

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false

      - name: Run Tests
        run: go test -v ./...
